*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: sans-serif;
}

body {
    background-color: #3333;
}

::selection{
    color: #fff;
    background: #007bff;
}

.start_btn,
.info_box,
.quiz_box,
.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
               0 6px 20px 0 rbga(0, 0, 0, 0.19);

}

.info_box.active::-webkit-textfield-decoration-container